.redoutline {
  outline: 1px solid red;
}
:root {
  --clr-primary: rgb(255, 255, 255);
  --clr-secondary: rgb(252, 250, 248);
  --clr-accent: rgb(220, 76, 62);
  --clr-accent-dark: rgb(168, 31, 0);
  --clr-accent-light: rgb(255, 239, 229);
  --clr-secondary-dark: rgb(243, 239, 236);
  --reactist-font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    sans-serif;

  --ff-primary: var(--reactist-font-family);
  --ff-secondary: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-500: 1.1rem;
  --fs-400: 1rem;
  --fs-300: 0.9rem;
  --fs-200: 0.8rem;
  --fs-700: 2rem;
  --fs-600: 1.3rem;

  /*  */
  --btn-idle-tint: rgb(102, 102, 102);
  --btn-hover-tint: rgb(26, 26, 26);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
a {
  all: unset;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* css */
.cdn-failback-error {
  display: none;
  color: rgb(233, 232, 231);
}

.container {
  display: flex;
  height: 100vh;
}

.side-bar-container {
  position: static;
  --sidebar-width: 280px; /* Adjust default width */
  position: relative;
  padding: 12px;
  background-color: var(--clr-secondary);
  width: var(--sidebar-width);
  max-width: 100% !important;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.user-info {
  display: flex;
  align-items: center;
  margin-block-end: 12px;
}

.user-menu-botton {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-weight: var(--fw-600);
  font-size: var(--fs-300);
  border: 1px solid transparent;
  border-radius: 5px;
}

.user-menu-botton:hover {
  /* color: var(--clr-accent); */
  background-color: var(--clr-secondary-dark);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info img {
  height: 24px;
  border-radius: 50%;
}

button svg {
  align-self: center;
}

.sidebar-header-action {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-left: auto;
}

button {
  display: flex;
  align-items: center;
}

.collapse_icon {
  position: absolute;
  right: 12px;
  transition: margin-right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
}

.collapse_icon svg path {
  fill: var(--btn-idle-tint);
}

.collapse_icon:hover {
  background-color: var(--clr-secondary-dark);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.collapse_icon:hover svg path {
  fill: var(--btn-hover-tint);
}

.notification_icon {
  --sidebar-toggle-button-expanded-offset: 40px;
  margin-right: var(--sidebar-toggle-button-expanded-offset);
  border: 1px solid transparent;
}

.notification_icon svg path {
  fill: var(--btn-idle-tint);
}

.notification_icon:hover {
  background-color: var(--clr-secondary-dark);
  border-radius: 5px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.notification_icon:hover svg path {
  fill: var(--btn-hover-tint);
}

.button-add-task {
  display: flex;
  align-items: center;
  color: var(--clr-accent-dark);
  gap: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  font-weight: var(--fw-600);
  font-size: var(--fs-300);
  cursor: pointer;
}

.button-add-task:hover {
  background-color: var(--clr-secondary-dark);
}

.navigation {
  all: unset;
  padding-block: 10px;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  font-size: var(--fs-300);
  cursor: pointer;
}

.navigation a:hover {
  background-color: var(--clr-secondary-dark);
}

.my-projects-nav_header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-weight: var(--fw-600);
  font-size: var(--fs-300);
  padding-inline: 12px;
}

.my-projects-nav_header > .add_project {
  margin-left: auto;
}

.my-projects-nav_header > button svg path {
  fill: var(--btn-idle-tint);
}

.my-projects-nav_header > button:hover svg path {
  fill: var(--btn-hover-tint);
}

.projects_list {
  display: flex;
  width: 100%;
}

.main_content {
  flex: 1; /* Fills remaining space */
  padding: 3.5rem;
  transition: padding-inline 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

p,
.main_content-title {
  padding-inline: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.resize-handle {
  width: 4px;
  height: 100%;
  background-color: rgb(207, 207, 207);
  cursor: col-resize;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.resize-handle:hover {
  opacity: 1;
}

.overlay {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* media */
@media (max-width: 750px) {
  .resize-handle {
    display: none;
  }
  .collapse_icon {
    margin-right: -60px;
  }
  .content {
    padding-inline: 2rem !important;
  }
}

/* modal style */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 50px 0px;
}

/* .modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
} */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1; */
}

.hidden {
  display: none;
}

/* end Modal style */
